<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id ="kenya" class="com.setters.injections.Kenya"/>
	<bean id ="ethiopia" class="com.setters.injections.Ethiopia"/>
	<bean id ="somalia" class="com.setters.injections.Somalia"/>
	<bean id ="tanzania" class="com.setters.injections.Tanzania"/>
	<bean id ="uganda" class="com.setters.injections.Uganda"/>


	<!--  <bean id="eastAfricaCountries" class="com.setters.injections.EastAfrica">
	 <property name="kenya" ref="kenya"/>
	  <property name="ethiopia" ref="ethiopia"></property>
	   <property name="somalia" ref="somalia"/>
	    <property name="uganda" ref="uganda"/>
	     <property name="tanzania" ref="tanzania"/>
	 </bean> -->
	 
	<!--  <bean id="eastAfrica" class="com.setters.injections.EastAfrica">
	 <constructor-arg index="0" ref="kenya"/>
	 <constructor-arg index="1" ref="ethiopia"/>
	  <constructor-arg index="2" ref="somalia"/>
	   <constructor-arg index="3" ref="tanzania"/>
	   <constructor-arg index="4" ref="uganda"/>
	 </bean> -->
	  <bean id="eastAfrica" class="com.setters.injections.EastAfrica">
	 <constructor-arg name="ken" ref="kenya"/>
	 <constructor-arg name="eth" ref="ethiopia"/>
	  <constructor-arg name="som" ref="somalia"/>
	   <constructor-arg name="taz" ref="tanzania"/>
	   <constructor-arg name="uga" ref="uganda"/>
	 </bean>
	 
	 <bean id ="enableAutowire" class="com.setters.injections.EastAfrica" autowire="byType"/>

</beans>
